<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>December 2010</h4>
                                    <h4 class="subheading">Our Humble Beginnings</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Our founder found her passion, and the seeds of Strong Starts for Success were born.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2011-2021</h4>
                                    <h4 class="subheading">Experience Builds</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Experiences were had, people were met, ideas were flushed out and the concepts for Strong Starts for Success became more concrete.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/home.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>November 2012</h4>
                                    <h4 class="subheading">A Home is Found</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Opportunity came knocking - Our founder saw the space for the S3 Harlandsville Center for the first time.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>March 2022</h4>
                                    <h4 class="subheading">It's Official!</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Strong Starts for Success officially became registered as nonprofit organization.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Future Looking</h4>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>September 2022</h4>
                                    <h4 class="subheading">Help has Arrived</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">The first S<sup>3</sup> teachers have been recruited.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/openarms.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>January 2023</h4>
                                    <h4 class="subheading">Open Arms</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">The Harlandsville Center opens its doors to the community's children.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of Our
                                    <br>Story!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>