<!-- About Section -->
<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">About</h2>
        <h3 class="section-subheading text-muted">
          Start young, help unlock unlimited potential!
        </h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <ul class="timeline">
          {% for event in site.timeline_past %}
            {% if event.invert %}
            <li class="timeline-inverted">
            {% else %}
            <li>
            {% endif %}
              <div class="timeline-image">
                <img
                  class="img-circle img-responsive"
                  src="{{ event.image }}"
                  alt=""
                />
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4>{{ event.date }}</h4>
                  <h4 class="subheading">{{ event.title }}</h4>
                </div>
                <div class="timeline-body">
                  <p class="text-muted">
                    {{ event.description }}
                  </p>
                </div>
              </div>
            </li>
          {% endfor %}

          <li class="timeline-inverted">
            <div class="timeline-image">
              <h4>Coming <br />Right <br />Up</h4>
            </div>
          </li>

          {% for event in site.timeline_future %}
            {% if event.invert %}
            <li class="timeline-inverted">
            {% else %}
            <li>
            {% endif %}
              <div class="timeline-image">
                <img
                  class="img-circle img-responsive"
                  src="{{ event.image }}"
                  alt=""
                />
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4>{{ event.date }}</h4>
                  <h4 class="subheading">{{ event.title }}</h4>
                </div>
                <div class="timeline-body">
                  <p class="text-muted">
                    {{ event.description }}
                  </p>
                </div>
              </div>
            </li>
          {% endfor %}

          <li class="timeline-inverted">
            <div class="timeline-image">
              <h4>Be Part <br />Of Our <br />Story!</h4>
            </div>
          </li> 
        </ul>
      </div>
    </div>
  </div>
</section>
