<!-- Mission Section -->
<section id="mission">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Mission</h2>
                <h3 class="section-subheading text-muted">{{ site.mission }}</h3>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <img style="width:100%;padding:8%" src="img/mission/65.svg"></img>
                </span>
                <h4 class="service-heading">Community Engagement</h4>
                <p class="text-muted">Strong Starts for Success is a community-based organization and strongly values
                    community involvement. We believe that in order for children to have the greatest chance of success
                    in life, the home | school | community connection needs to be strong. The S<sup>3</sup> staff will
                    provide seminars and trainings for student parents as well as any interested members of the
                    community in order to encourage our holistic approach to education.</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <img style="width:100%;padding:8%" src="img/mission/64.svg"></img>
                </span>
                <h4 class="service-heading">Teacher Training</h4>
                <p class="text-muted">S<sup>3</sup> Teachers are members of the communities where our centers are
                    located and therefore have unique understandings of both cultural and community needs. Each teacher
                    will receive three months pre-service training, concentrated mentoring and coaching through the
                    first few months of the center opening, and continuous professional development driven by teacher
                    suggestions and needs throughout their entire time with S<sup>3</sup>.</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <img style="width:100%;padding:8%" src="img/mission/63.svg"></img>
                </span>
                <h4 class="service-heading">Early Childhood Care and Education</h4>
                <p class="text-muted">Each S<sup>3</sup> Center will be equipped to enroll 75 children ages 3 months to
                    5 years old. They will learn, explore, and grow in classrooms separated by age, which will allow
                    teachers to administer developmentally appropriate, play-based curriculum.</p>
            </div>
        </div>
    </div>
</section>