<!-- Portfolio Grid Section -->
<section id="stories" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Our Story</h2>
                <h3 class="section-subheading-story text-muted"> Over the past ten years, Hailey has worked and traveled
                    in many African countries and has witnessed time and again children cared for by those hardly older
                    than themselves, often with little to no adult supervision. This is becoming more prevalent as more
                    mothers enter the formal workforce and are unable to take their children with them. These
                    observations made Hailey question why these children don't have a safe, educational place to go,
                    which led her to a passion for creating educational centers for young children and beyond. These
                    ECCE centers begin with offerings for early childhood development and ultimately position the
                    children so they are prepared to enter school on time and find success in all their pursuits, both
                    inside and outside the classroom. </h3>
            </div>
        </div>
        <div class="row">
        </div>
    </div>
</section>