<!-- Portfolio Grid Section -->
<section id="stories" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Stories</h2>
                <!-- <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3> -->
            </div>
        </div>
        <div class="row">
            Over the past about ten years Hailey has worked and/or traveled in many African countries and all too often
            I see the youngest children being taken care of by not so much older children, often with little to no adult
            supervision. This is only becoming more prevalent with more mothers entering the formal workforce and not
            being able to take their children with them. This always sets off alarms in my brain as to why these
            children do not have safe and educational places to go at these ages. Additionally, another issue that has
            driven my thoughts about opening up these ECCE centers is to help students become school ready and enter
            school on time, which are both major issue facing the countries I have lived in.
        </div>
    </div>
</section>